<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Calendar allowing creator of PlanIt event to choose their unavailability and save it.">
		<title>Create a PLANIT</title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
		<script src="/scripts.js"></script>

		<!-- DELCARING DATA SO IT IS ACCESSIBLE TO scripts.js -->
		<script>
			// THE DATA FROM CALCULATING DATES
			let dateInfo = <%- JSON.stringify(dates) %>;
			let startDt = <%- JSON.stringify(startDate) %>;
			let endDt = <%- JSON.stringify(endDate) %>;

			let nameField = document.getElementById("name");
		</script>
	</head>
	<body>

		<main id="nameSection" style="display: block">
			<section class="page-top">
				<!-- Heading-->
				<h1 class="title-heading">PlanIt MVP</h1>
	
				<!-- Progress bar -->
				<div class="progress-grey">
					<!-- Step 2/5 in progress-->
					<div class="progress-blue-40"></div>
				</div>
				<!--  button -->
				<button class="back-button" onclick="homePage()"> <!-- TODO Does this work? -->
					<!-- Back arrow from https://www.w3schools.com/charsets/ref_utf_arrows.asp-->
					&#x21E4; Back
				</button>
			</section>
			<section class="content">
				<!-- Welcome message for join section -->
				<section class="text">
					<p class="bold">Welcome to PlanIt</p>
					<p>Enter your name in here:</p>
					<p></p>
				</section>
				<form action="javascript:;" onsubmit="showCalendar()">
					<fieldset>
						<legend>Name</legend>
						<input
							type="text"
							id="name"
							name="name"
							minlength="2"
							maxlength="50"
							pattern="^[A-Za-z]+$"
							oninvalid="setCustomValidity('Min 2 characters, max 50 characters, no special characters, numbers or spaces - only letters.');"
							oninput="setCustomValidity('')"
							required
						/>
					</fieldset>
					<button type="submit" class="next">Next</button>
				</form>
			</section>
		</main>

		<main id="Calendar" style="display: none">
			<section class="page-top">
				<!-- Heading-->
				<h1 class="title-heading">PlanIt MVP</h1>
	
				<!-- Progress bar -->
				<div class="progress-grey">
					<!-- Step 4/5 in progress-->
					<div class="progress-blue-80"></div>
				</div>
				<!--  button -->
				<button class="back-button" onclick="homePage()"> <!-- TODO this needs to go back to the date inputs-->
					<!-- Back arrow from https://www.w3schools.com/charsets/ref_utf_arrows.asp-->
					&#x21E4; Back
				</button>
			</section>
			<section class="content">
				<section class="text">
					<!-- Welcome message -->
					<p class="bold">Hi <span id="greetingNameSpan"></span>! </p>
					<p>You're on the way to creating your event.</p>
					<!-- Instruction message -->
					<p>Swipe the times you <em>can't</em> do and click 'Next' when you're done:</p>
					<!-- Calendar and explanation button -->
					<div class="question">?</div>
				</section>

				<!-- EXPERIMENTATION -->
				<div class="grid-containment">
					<div class="main-grid">
						<!-- FOR EVERY COLUMN -->
						<!--todo remove -1-->
						<div class="day">
							<!--need a date and day of week for sizing-->
							<div class="dayslot" id="hidden-corner">
								<h1 class="date"><%=dates[0].date %></h1>
								<h2 class="date"><%=dates[0].dayOfWeek %></h2>
							</div>

							<!-- EVERY TIME PERIOD OF THE DAY -->
							<div class="timeOfDay">09:00</div>
							<div class="timeOfDay">10:00</div>
							<div class="timeOfDay">11:00</div>
							<div class="timeOfDay">12:00</div>
							<div class="timeOfDay">13:00</div>
							<div class="timeOfDay">14:00</div>
							<div class="timeOfDay">15:00</div>
							<div class="timeOfDay">16:00</div>
							<div class="timeOfDay">17:00</div>
						</div>

						<% for(var i = 0; i < dates.length ; i++) { %>

						<div class="day" id="day<%=i%>">
							<!-- FOR EVERY SLOT IN THE ROW -->
							<!--todo remove hardcoded 10 with variable for timeslots-->
							<% for(var j = 0; j < 10; j++) { %>

							<!-- IF IT IS THE FIRST ITEM IN THE COLUMN, MAKE IT THE DATE -->
							<% if(j==0) { %>
							<div class="dayslot">
								<h1 class="date">
									<%=dates[i].date %>
									<span class="monthSpan"
										><%=dates[i].month %></span
									>
								</h1>
								<h2 class="date"><%=dates[i].dayOfWeek %></h2>
							</div>

							<!-- IF NOT THE FIRST COLUMN, FILL AS TIMESLOT -->
							<% } else { %>
							<div class="timeslot">1</div>
							<% } %> <% } %>
						</div>
						<% } %>
					</div>
				</div>
				<!-- Next button at bottom of page-->
				<button class="next" onclick="calToDB()"><span>NEXT</span></button>
			</section>
		</main>
	</body>
</html>
