<!doctype html>
<html>
  <head>
    <title>Welcome to PLANIT</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/scripts.js"></script>

    <!-- DELCARING DATA SO IT IS ACCESSIBLE TO scripts.js -->
    <script>
        // THE DATA FROM READING CSV FILE: line 45 of main.js
        let data = <%- JSON.stringify(data) %>; // THIS IS NOT AN ERROR LEAVE ALONE
        let dateInfo = <%- JSON.stringify(dates) %>;

        console.log(dateInfo);

    </script>

  </head>
  <body>
    <section class="page-top">
        <!-- Heading-->
        <h1 class="main-heading">PlanIt MVP</h1>

        <!-- Progress bar -->
        <div class="progress-grey">
            <div class="progress-blue"></div>
        </div>
           <!--  button -->
        <button class="back-button">
            <!-- Back arrow from https://www.w3schools.com/charsets/ref_utf_arrows.asp--> 
            &#x21E0; Back
        </button>

    </section>
    <main>
        <!-- Welcome message -->
        <section class="text">
            <p><strong>Hi [Username]!<br>You're on the way to creating your event.</strong></p>
        </section>

        <!-- Instruction message -->
        <section class="text">
            <p>Swipe the times you <em>can't</em> do.
                <br>Click 'Next' when you're done to share with others:</p>
            <!-- Calendar and explanation button -->
            <div class="question">?</div>
        </section>
<!--  

    REDUNDANT GRID

        <div class="grid-container">
             hidden square at top left 
            <div class="grid-item hidden"></div>

            date and day rows 
            <div class="grid-item datebox">
                <h1 class="date">18</h1>
                <h2 class="date">MON</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">19</h1>
                <h2 class="date">TUE</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">20</h1>
                <h2 class="date">WED</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">21</h1>
                <h2 class="date">THU</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">22</h1>
                <h2 class="date">FRI</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">23</h1>
                <h2 class="date">SAT</h2>
            </div>
            <div class="grid-item datebox">
                <h1 class="date">24</h1>
                <h2 class="date">SUN</h2>
            </div>


             nested grids for each column to ease grid item identification
           initial grid contains time text 
            <div class="nested-grid">
             time row 1
                <div class="grid-item timebox">
                    <h2 class="time">9.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">10.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">11.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">12.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">13.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">14.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">15.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">16.00</h2>
                </div>
                <div class="grid-item timebox">
                    <h2 class="time">17.00</h2>
                </div>
                 dateTime boxes are blank but change colour when selected

            </div>

            <div id="grid1" class="nested-grid">
                 dateTime boxes are blank but change colour when selected
                FIXME: is dateTime class necessary
               Monday column 
                 dateTime boxes are blank but change colour when selected
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>

            <div id="grid2" class="nested-grid">
            Tuesday column 
                 dateTime boxes are blank but change colour when selected
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>

            <div id="grid3" class="nested-grid">
               Wednesday column 
                 dateTime boxes are blank but change colour when selected
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>

            <div id="grid4" class="nested-grid">
               Thursday column 
                 dateTime boxes are blank but change colour when selected
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>

            <div id="grid5" class="nested-grid">
               Friday column 
                 dateTime boxes are blank but change colour when selected
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>
            <div id="grid6" class="nested-grid">
               Saturday column 
                 dateTime boxes are blank but change colour when selected
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>
            <div id="grid7" class="nested-grid">
               Sunday column 
                 dateTime boxes are blank but change colour when selected
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
                <div class="grid-item dateTime"></div>
            </div>
        </div>

        -->

        <!-- EXPERIMENTATION -->
    <div class="grid-containment">
        <div class="main-grid">

            <!-- FOR EVERY COLUMN -->
          <%  for(var i = 0; i < dates.length ; i++) { %>


                <div class="day">
                    <!-- FOR EVERY SLOT IN THE ROW -->
                    <%     for(var j = 0; j < 10; j++) { %>


                        <!-- IF IT'S THE CORNER PIECE, MAKE INVISIBLE -->
                        <%       if(j==0 && i==0) { %>
                        <div class="dayslot" id="hidden-corner">
                            <h1 class="date"><%=dates[i].date %></h1>
                            <h2 class="date"><%=dates[i].dayOfWeek %></h2>
                        </div>
                        <!-- EVERY TIME PERIOD OF THE DAY -->
                        <div class="timeOfDay">09:00</div>
                        <div class="timeOfDay">10:00</div>
                        <div class="timeOfDay">11:00</div>
                        <div class="timeOfDay">12:00</div>
                        <div class="timeOfDay">13:00</div>
                        <div class="timeOfDay">14:00</div>
                        <div class="timeOfDay">15:00</div>
                        <div class="timeOfDay">16:00</div>
                        <div class="timeOfDay">17:00</div>


                        <!-- IF IT IS THE FIRST ITEM IN THE COLUMN, MAKE IT THE DATE -->
                        <% } else if(j==0) { %>
                            <div class="dayslot">
                                <h1 class="date"><%=dates[i].date %></h1>
                                <h2 class="date"><%=dates[i].dayOfWeek %></h2>
                            </div>

                        <!-- IF NOT THE FIRST COLUMN, FILL AS TIMESLOT -->    
                        <%    } else if(i>0) { %>
                       <div class="timeslot">1</div>
                        <%     } %>
                        <%   } %>
            </div>
            <% } %>

        </div>
    </div>
        <!-- Next button at bottom of page-->
        <button class="next">NEXT</button>

        <button onclick="printData()">CONSOLE DATA TEST</button>

        
    </main>
  </body>
</html>
